
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Footer Menu -->
<footer id="footer">
 
    <!-- Company Details -->
    <!-- 1. Address
    2. Contact Number
    3. Enquiry Mail
-->
    <div class="company-details">
        <div class="row">
            <div id="col1">
                <span id="icon" class="fa fa-map-marker"></span>

                <span>
                    Technopôle El Gazala, bloc I 2 bureau A14
                    <br />2088 Complexe Technologique Raoued

            </span>
            </div>

            <div id="col2">
                <span id="icon" class="fa fa-phone"></span>

                <span>
                Telephone: +216 71 857 498

            </span>
            </div>

            <div id="col3">
                <span id="icon" class="fa fa-envelope"></span>
                <span>email@telcotec.tn</span>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="copyright">
         
<p>© All rights reserved | TELCOTEC 2021</p>


        <ul class="contact">
            <li>
                <a href="http://www.telcotec.tn/" class="fa fa-globe">

                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/telcotec2015/" class="fa fa-facebook">

                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/telcotec-tunisie/about/" class="fa fa-linkedin">

                </a>
            </li>
        </ul>
    </div>
</footer>