<app-navbar></app-navbar>


<html>
  <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>


<body>
  <div class="container">
    <div class="heading">
      <h1 style="color:#fefefe;">Indoor Simulation for the 2G 3G 4G Network</h1>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h1>Site Servey</h1>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="/siteservey" class="btn">Go To</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Simulation</h1>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="/simulation" class="btn">Go To</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>3D Design</h1>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="/design" class="btn">Go To</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Rapports Automatiques</h1>
        </div>
        <div class="card-body">
          <p>
             Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="/rapports" class="btn">Go To</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>